Tech_Forum/Tech_Forum/Connected Services/DomaintechServiceReference/DomainTechService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52551/DomainTechService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DomainTech" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DomainTech" minOccurs="0" name="GetDomainListResult" nillable="true" type="q1:ArrayOfDomain_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechforDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechforDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DomainTech" minOccurs="0" name="GetTechforDomainResult" nillable="true" type="q2:ArrayOfTechnology_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>